@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0px;
    font-family: "Inter", sans-serif;
}

html{
    scroll-behavior: smooth;
}

#hero {
    background-image: url(public/Screenshot_3.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-blur {
    background: linear-gradient(to right,#010D0F,#010D0F,#010D0F, #010d0fce, #010d0f46, rgba(255, 255, 255, 0));
}

#deceit-project {
    background-image: url("public/deceit-banner.png");
    background-position: center center;
    background-size: cover;
}

#kaidan-project {
    background-image: url("public/kaidan-banner.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

#marauders-project {
    background-image: url("public/marauders-banner.jpg");
    background-position: center center;
    background-size: cover;
}

#nightling-project {
    background-image: url("public/nightingale-banner.jpg");
    background-position: center center;
    background-size: cover;
}

#ascendant-project {
    background-image: url("public/ascendant-banner.jpg");
    background-position: center center;
    background-size: cover;
}